.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
   
  .notification {
    border: 1px solid #eaeaea;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
   
  .notificationHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
   
  .notificationHeader h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
   
  .notificationHeader span {
    font-size: 14px;
    color: #888;
  }