.hero {
    position: relative;
    background: url('/images/ImageITS3.jpeg') no-repeat center center;
    background-size: contain;
    height: 75vh;
    color: #fff;
    padding: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    filter: blur(3px);
}

.heroContent {
    position: relative;
    z-index: 1;
}

.h1 {
    color: #56607d;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.p {
    color: #222531;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-size: larger;
    font-weight: bold;
    text-decoration: overline;
    text-shadow: 2px 2px 4px rgba(60, 215, 255, 0.325);

}

.ctaButton {
    z-index: 3;
    padding: 1rem 2rem;
    background: #0070f3;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
    font-size: bold;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s, transform 0.3s;
}

.ctaButton:hover {
    background: #005bb5;
    transform: scale(1.05);
}

.ctaButton:active {
    transform: scale(1);
}

@media (max-width: 600px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .cta-button {
        padding: 0.75rem 1.5rem;
    }
}