.testimonials {
    width: 80%;
}

.testimonialStudent1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonialStudent2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.testimonialImage {
    margin: 1rem;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonialText {
    max-width: 100rem;
}

.h2 {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    color: #56607d;
}

.h3Student1 {
    margin: 1rem;
    font-size: 1.8rem;
    color: #333;
}

.pStudent1 {
    font-size: 1.3rem;
    margin: 1rem;
    color: #666;
}

.h3Student2 {
    text-align: end;
    margin: 1rem;
    font-size: 1.8rem;
    color: #333;
}

.pStudent2 {
    text-align: end;
    font-size: 1.3rem;
    margin: 1rem;
    color: #666;
}

@media (max-width: 900px) {
    .testimonialStudent1 {
        flex-direction: column;
        align-items: center;
    }

    .testimonialStudent2 {
        flex-direction: column-reverse;
        align-items: center;
    }

    .h3Student1 {
        text-align: center;
        font-size: 2rem
    }

    .h3Student2 {
        text-align: center;
        font-size: 2rem
    }

    .pStudent1 {
        text-align: center;
        font-size: 1.5rem
    }

    .pStudent2 {
        text-align: center;
        font-size: 1.5rem
    }
}