.main {
    min-height: auto;
}

.section {
    display: flex;
}

.paragrafo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.p {
    font-size: 2rem;
    margin: 1rem;
    color: #666;
}
.hr {
    margin: 2rem;
    color: #000000;
}
.container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    padding: 1.5rem;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: rgb(214, 214, 214);
    box-shadow: 10px 5px 5px 10px rgb(214, 214, 214, 1);
    margin: 2rem;
}

.link {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
  }
 
.h1 {
    text-align: center;
    color: #56607d;
    margin-bottom: 1rem;
}
 
.form {
    display: flex;
    flex-direction: column;
}
 
.div {
    margin-bottom: 1.2rem;
}
 
.label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #000000;
}
 
.input {
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #bdc3c7;
    border-radius: 5px;
    background-color: #ffffffbc;
    transition: border-color 0.3s;
}
 
 
.input:not(:placeholder-shown) {
    color: #000000;
    /* Cambia il colore del testo quando l'input non è vuoto */
}
 
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    color: #fff;
    background-color: #0070f3;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
}
 
.button:hover {
    background: #005bb5;
    transform: scale(1.05);
}

.button:active {
    transform: scale(1);
}
 
.formMessage {
    text-align: center;
    margin-top: 1.5rem;
    color: #27ae60;
}
 
.successMessage {
    text-align: center;
    font-size: 1.2rem;
    color: #0070f3;
  }

@media (max-width: 980px) {
    .section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .container {
        min-width: 200px;
    }
    
}

@media (max-width: 500px) {
    .container {
        min-width: 100px;
    }
    
}