.container {
    padding: 20px;
}

.h1 {
    color: #56607d;
    text-align: center;
    margin-top: 2rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.card {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: rgb(214, 214, 214);
    box-shadow: 10px 5px 5px 10px rgb(214, 214, 214, 1);
    padding: 2rem;
    margin: 1rem;
}

.th,
.td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.th {
    background-color: #f2f2f2;
}

.td {
    transition: background-color 0.3s ease;
}


.areaProgrammazione {
    background-color: #e6f7ff;
}

.areaNuoveTecnologie {
    background-color: #e6ffe6;
}

.areaComunicazione {
    background-color: #fff0f0;
}

@media (max-width: 850px) {
    .h1 {
        margin-top: 4rem;
    }

    .th:nth-child(1),
    .td:nth-child(1) {
      display: none;
    }
}

@media (max-width: 390px) {
    .table {
        font-size: 0.7rem;
    }
}

@media (max-width: 360px) {
    .table {
        font-size: 0.6rem;
    }
}

@media (max-width: 330px) {
    .table {
        font-size: 0.5rem;
    }
}