.layout {
  display: flex;
}
 
.sidebar {
  width: 250px;
  background-color: #f0f0f0;
  padding: 20px;
  border-right: 1px solid #ccc;
}
 
.sidebar h2 {
  margin-bottom: 20px;
  color: #333;
}
 
.sidebar ul {
  list-style: none;
  padding: 0;
}
 
.sidebar li {
  margin-bottom: 10px;
}
 
.sidebar a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}
 
.sidebar a:hover {
  background-color: #ddd;
}
 
.content {
  flex: 1;
  padding: 20px;
}
 
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ccc; /* Aggiunto contorno */
}
 
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
 
.card h3 {
  margin-bottom: 10px;
  color: #333;
}
 
.card p {
  color: #666;
  margin-bottom: 15px;
}
 
.card a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}
 
.card a:hover {
  color: #0056b3;
  text-decoration: underline;
}
 
.logo img {
  width: 50px; /* Imposta la larghezza dell'immagine */
  height: auto; /* Imposta l'altezza in modo che l'immagine mantenga le proporzioni */
  margin-bottom: 10px; /* Aggiungi spazio inferiore */
  align-items: right;
}